@page "/alunos"
@inject IAlunoService alunoService;
@inject NavigationManager NavigationManager


@if (Alunos == null)
{
    <h3>Carregando lista de alunos... </h3>
}
else
{
    <h3 class="mb-5">Alunos</h3>
    @if (Alunos.Any())
    {
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Remover Aluno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Alunos)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Unidade</td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    @onclick="() => RemoverAluno(item)">
                                Remover Aluno
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    public IEnumerable<AlunoDTO>? Alunos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Alunos = await alunoService.GetAlunos();
    }
    protected async Task RemoverAluno(AlunoDTO aluno)
    {
        await alunoService.RemoverAluno(aluno);
        NavigationManager.NavigateTo("/");

    }
}
